<div id="overDashboard">
    <app-otw></app-otw>
    <app-no-data></app-no-data>
    <app-off-aoi></app-off-aoi>
</div>

<div id="upperDashboard">
    <app-mcp></app-mcp>
    <app-efis></app-efis>
</div>

<div id="sideDashboard">
    <app-misc></app-misc>
</div>

<div id="lowerDashboard">
    <app-nd></app-nd>
    <app-pfd></app-pfd>
</div>

<div id="eicasDisplays">
    <app-upper-eicas></app-upper-eicas>
    <app-lower-eicas></app-lower-eicas>
</div>

<div id="fmsDisplay">
    <app-fms></app-fms>
</div>

<div id="eyeDiv">
    <app-eyetracking></app-eyetracking>
</div>

<div id="computerDiv">
    <app-computer></app-computer>
</div>
