<img id='play' [src]="!playing ? 'assets/img/play.png' : 'assets/img/pause.png'" (click)="play()">
<img id='backward' src='assets/img/backward.png' (click)="backward()">
<img id='forward' src='assets/img/forward.png' (click)="forward()">

<div class='sliderContainer'>
    <input #ref type='range' min='0' [max]='this.memoryLength' [value]='this.index'  class='slider' id='boxed' (change)='sliderInput(ref.value)'>
</div>

<div id='realTime'>Real Time: {{ this.realTime }}</div>
<div id='elapsedSeconds'>Elapsed Seconds: {{ this.elapsedSeconds | number: '1.1-1'}}</div>
<div id='elapsedTime'>Elapsed Time: {{ this.formatTime(this.elapsedSeconds) }}</div>