#fmsDiv {
    position: absolute;
    left: 2.5%;
    top: 2%;

    width: 95%;
    height: 96%;

    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.2vw;
}