<div id='background'></div>
<h1 id="header">TheDashboard.</h1>

<div id='description'>
    <p>This data visualization tool displays key flight displays of a Boeing 737NG overlayed with eye tracking data. The data must be initialized simply once before beginning simulation. Clicking initialize and feeding a well-formatted CSV files will cause a txt file labelled "sim.json" to appear in the src/assets/data folder. Future uses do not require initialization again.</p>
    <br>
    <p>This project was developed by NASA Ames Research Center with assistance from the Department of Data Science at UC Berkeley.</p>    
</div>
