<div id='background'></div>
<h1 id="header">TheDashboard.</h1>

<p id="simLabel">Simulation & Eyetracking Data:</p>
<form action="http://localhost:4201/sim-upload"
    method="post"
    encType="multipart/form-data">
        <input type="file" id="simUpload" name="sampleFile">
        <input type="submit" id="submitSim">
</form>

<p id="vidLabel">Over The Shoulder Video:</p>
<form action="http://localhost:4201/vid-upload"
    method="post"
    encType="multipart/form-data">
        <input type="file" id="vidUpload" name="sampleFile">
        <input type="submit" id="submitVid">
</form>

<p id="eventLabel">Event Indicators:</p>
<form action="http://localhost:4201/event-upload"
    method="post"
    encType="multipart/form-data">
        <input type="file" id="eventUpload" name="sampleFile">
        <input type="submit" id="submitEvent">
</form>

<button routerLink="/simulate" class="btn btn-primary" id="simButton">Simulate</button>
