#noDataDiv {
    position: absolute;
    left: 85.5%;
    top: 2.5%;

    width: 14%;
    height: 47.5%;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.5vw;
}


.regular {
    border: 2px solid black;
}

.highlighted {
    border: 6px solid red;
}